.form {
    width: 40vw; height: 100%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;

    .form_overflow {
        position: relative;
        overflow: hidden;
        display: flex; align-items: center;
        width: 21vw;
        height: 100%;
    }
}