.login_form {
    left: 0; 
    opacity: 1;
    transform: scale(1);
}
.login_form_none {
    left: -100%;
    opacity: 0;
    transform: scale(0.9);
}

.form_container {
   position: absolute;
   width: 100%;
   transition: 0.5s ease;
   
    .form_header {
        display: flex; flex-direction: column;
        gap: 1rem;
        align-items: center;

        #formTitle {
            font-size: x-large;
        }

        .socials {
            display: flex; 
            gap: 0.5rem;
        }
    }

    #form_inputs {
        display: flex; flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        gap: 2.5rem;

        .submit_form {
            // Layout
            margin-top: 0.5rem;
            width: 10rem;
            height: 3rem;
            // Typo
            font-family: Satoshi-medium; 
            color: white;
            font-size: larger;
            // Style
            border-radius: 2.5rem;
            border: none;
            background: linear-gradient(270deg, #024352 0%, #4FDEFF 100%);
            cursor: pointer;
        }

        #forgot_password {
            font-size: small;
            opacity: 0.5;
            transition: 250ms ease;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }
}
     
